@import "tailwindcss";

@theme {
  --color-primary-500: #3563E9;
  --color-information-500: #54A6FF;
  --color-secondary-500: #1A202C;
  --color-secondary-400: #596780;
  --color-secondary-300: #90A3BF;
  --color-background-500: #F6F7F9;
  --color-white: #FFFFFF;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-background-500);
    color: var(--color-secondary-500);
  }
}